*{
    margin: 0;              /*diminui o tamanho da margem*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 0px;
}
.barraSuperior {
    background-color: rgb(0,80,43); /* Cor de fundo da barra superior */
    padding: opx 0; /* Espaçamento interno vertical e horizontal */
    text-align: center; /* Centraliza o conteúdo dentro da barra */
}
.barraSuperior ul {
    list-style-type: none; /* Remove os marcadores das listas */
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}
.barraSuperior a{
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Deixa o texto em negrito */
    size: 20px;
}
.barraSuperior a:hover {
    text-decoration: underline; /* Sublinha o link quando o mouse passa por cima */
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}
.horarios-culto {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    padding: 5%;
}
.horarios-culto > div {
    
    width: 50%; /* Ajuste conforme necessário */
    margin: 0px;
}
.nome-horarios{
    padding: 2%;
}
ul li a:hover {
color: rgb(214, 11, 197);
}.body-noticia{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 0px;
    background-image: url(imagens/fundo-blog.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.noticias ul{
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    list-style-type: none;
    grid-template-columns: repeat(3,10fr);
    display: grid;
}
.noticias ul li a img{
    margin-left: 15px;
    margin-bottom: 15px;
    width: 350px;
    height: 350px;
}
.noticias ul li a img:hover{
    filter: hue-rotate(180deg);
}
.text-modelo{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(240, 248, 255); 
    padding: 4%;
}
.modelo-com-imagem{
    display: flex; /* Alinha imagem e texto lado a lado */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    text-align: left;
    margin-top: 2%;
}
.modelo h1{
    text-align: left;
    margin-left: 2%;
}
.modelo p{
    text-align: left;
    margin-bottom: 25px;
    margin-left: 2%;
    margin-right: 10%;
}
.modelo-2 h2{
    text-align: left;
}
.modelo-2 p{
    text-align: left;
    margin-bottom: 25px;
}
.autor p{
    text-align: right;
}